body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
}

textarea {
    width: 300px;
    height: 100px;
}

button {
    margin-top: 10px;
    padding: 10px;
}